*{
  margin-left: 1px;
  padding: 1px;
}

body {
background-image: url("alba.jpg");
background-repeat: no-repeat;
background-size: 1500px;
background-attachment:fixed;   
}

header{
  color:blue;
  font-size: 50px;
  text-align: center;
  }


img{
  width: 250px;
  height: 100%;
  border-radius: 10px;
}

h1{
  font-size: 40px;
 font-family: Times New Roman;
color:lightblue;
}

h2{
Font-size:30px;
  font-family: Times New Roman;
  color:green;
}

h3{
  
  font-size: 20PX;
  font-family: Times New Roman;
  font-style: border;
  margin-left: 10px;
  color:black;

}  


      

  





